hostname {{ router_management_ip.value }}
!
boot-start-marker
boot-end-marker
!
!
vrf definition GS
 rd 100:100
 !
 address-family ipv4
 exit-address-family
!
logging persistent size 1000000 filesize 8192 immediate
!
ip vrf {{ vpn_connection_id.value }}
 rd 64525:1
 route-target export 64525:0
 route-target import 64525:0
!
ip vrf vpn0
 rd 64525:0
!
ip admission watch-list expiry-time 0
!         
subscriber templating 
!
multilink bundle-name authenticated
!
crypto pki trustpoint TP-self-signed-572041569
 enrollment selfsigned
!
license udi pid CSR1000V sn 9YGGWBVUY3N
no license smart enable
diagnostic bootup level minimal
!
redundancy
!
crypto keyring keyring-{{ vpn_connection_id.value }}-1 
  local-address GigabitEthernet1
  pre-shared-key address {{ router_vpn_public_ip.value }} key {{ vpn_tunnel1_preshared_key.value }}
!
crypto isakmp policy 200
 encr aes
 authentication pre-share
 group 14
 lifetime 28800
crypto isakmp keepalive 10 10 periodic
crypto isakmp profile isakmp-{{ vpn_connection_id.value }}-1
   keyring keyring-{{ vpn_connection_id.value }}-1
   match identity address {{ router_vpn_public_ip.value }} 255.255.255.255 
   local-address GigabitEthernet1
   rekey
crypto ipsec security-association replay window-size 1024
!
crypto ipsec transform-set ipsec-prop-vpn-aws esp-aes esp-sha-hmac 
 mode tunnel
crypto ipsec df-bit clear
no crypto ipsec nat-transparency udp-encapsulation
!
crypto ipsec profile ipsec-vpn-aws
 set transform-set ipsec-prop-vpn-aws 
 set pfs group14
!
interface Tunnel1
 description {{ vpn_connection_id.value }} from TGW to {{ customer_gateway_id.value }}
 ip vrf forwarding {{ vpn_connection_id.value }}
 ip address {{ vpn_tunnel1_router_inside_ip.value }} 255.255.255.252
 ip tcp adjust-mss 1387
 tunnel source GigabitEthernet1
 tunnel mode ipsec ipv4
 tunnel destination {{ router_vpn_public_ip.value }}
 tunnel protection ipsec profile ipsec-vpn-aws
 ip virtual-reassembly
!
interface VirtualPortGroup0
 vrf forwarding GS
 ip address 192.168.35.101 255.255.255.0
 ip nat inside
 no mop enabled
 no mop sysid
!
interface GigabitEthernet1
 ip address {{ router_management_ip.value }} 255.255.255.224
 ip nat outside
 negotiation auto
 no mop enabled
 no mop sysid
!
router bgp 64525
 bgp log-neighbor-changes
 !
 address-family ipv4 vrf {{ vpn_connection_id.value }}
  neighbor {{ vpn_tunnel1_aws_inside_ip.value }} remote-as {{ transit_gateway_asn.value }}
  neighbor {{ vpn_tunnel1_aws_inside_ip.value }} timers 10 30 30
  neighbor {{ vpn_tunnel1_aws_inside_ip.value }} activate
  neighbor {{ vpn_tunnel1_aws_inside_ip.value }} next-hop-self
  neighbor {{ vpn_tunnel1_aws_inside_ip.value }} default-originate
  neighbor {{ vpn_tunnel1_aws_inside_ip.value }} as-override
  neighbor {{ vpn_tunnel1_aws_inside_ip.value }} soft-reconfiguration inbound
 exit-address-family
!
iox
ip nat inside source list GS_NAT_ACL interface GigabitEthernet1 vrf GS overload
ip forward-protocol nd
ip tcp window-size 8192
ip http server
ip http authentication local
ip http secure-server
!
ip access-list standard GS_NAT_ACL
 permit 192.168.35.0 0.0.0.255
!
control-plane
!
line con 0
 stopbits 1
line vty 0 4
 transport input ssh
!
app-hosting appid guestshell
 app-vnic gateway1 virtualportgroup 0 guest-interface 0
  guest-ipaddress 192.168.35.102 netmask 255.255.255.0
 app-default-gateway 192.168.35.101 guest-interface 0
 name-server0 8.8.8.8
end

