# roles/bastion/templates/jail.local.j2 - Fail2ban SSH jail
[DEFAULT]
bantime = {{ bastion_fail2ban_bantime }}
findtime = {{ bastion_fail2ban_findtime }}
maxretry = {{ bastion_fail2ban_maxretry }}

[sshd]
enabled = true
port = {{ bastion_ssh_port }}
filter = sshd
logpath = /var/log/auth.log
maxretry = {{ bastion_fail2ban_maxretry }}
banaction = ufw